.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-family: Source Sans Pro, sans-serif;
	color: white;
}

#canvas-container, #toolbar, #settings {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#toolbar {
	padding: 1em;
}

#show-settings {
	float: left;
	vertical-align: center;
	padding: .5em 1em;
	cursor: pointer;
}

#settings {
	position: relative;
	border: 1px solid #333;
	margin: 0 auto 1em auto;
}

#settings input {
	margin-right: 20px;
}

#save {
	padding: .5em 1em;
	float: right;
	background-color: #7ba;
	border-radius: 3px;
	cursor: pointer;
}

.modal {
	display: none;
	position: absolute;
	background-color: #222;
	padding: 1.5em;
	color: #eee;
	text-align: center;
	font-size: 1em;	
	width: 300px;
	margin: auto;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
}

#after-save-container {
	width: auto;
}

#after-save-container .button {
	background-color: #EEE;
	padding: 1.5em;
	margin: 1em;
	color: #222;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	letter-spacing: 0.1em;
}


#tempo-value {
	font-size: 1.3em;
	font-weight: bold;
	margin: 1em 0;
}

.start-button {
	background-color: #EEE;
	padding: 1.5em;
	margin: 1em;
	color: #222;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	letter-spacing: 0.1em;
}

canvas {
	z-index: -100;
}